<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>holdem</title>

    <style type="text/css">
      body {
        font-size:16px;
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>

    <script type='text/javascript'>
      var Module = {
        preRun: [],
        postRun: [],
        print: (function() {
          return function(text) {
            if (arguments.length > 1) text = Array.prototype.slice.call(arguments).join(' ');
            console.log(text);

          };
        })(),
        printErr: function(text) {
          if (arguments.length > 1) text = Array.prototype.slice.call(arguments).join(' ');
          if (0) { // XXX disabled for safety typeof dump == 'function') {
            dump(text + '\n'); // fast, straight to the real console
          } else {
            console.error(text);
          }
        },
        canvas: (function() {
          //var canvas = document.getElementById('canvas');

          // As a default initial behavior, pop up an alert when webgl context is lost. To make your
          // application robust, you may want to override this behavior before shipping!
          // See http://www.khronos.org/registry/webgl/specs/latest/1.0/#5.15.2
          //canvas.addEventListener("webglcontextlost", function(e) { alert('WebGL context lost. You will need to reload the page.'); e.preventDefault(); }, false);

          //return canvas;
        })(),
        setStatus: function(text) {
        },
        totalDependencies: 0,
        monitorRunDependencies: function(left) {
        },
        onRuntimeInitialized: function() {
        }
      };

      //Module.setStatus('Downloading...');
      window.onerror = function() {
        //Module.setStatus('Exception thrown, see JavaScript console');
        //spinnerElement.style.display = 'none';
        // Module.setStatus = function(text) {
        //   if (text) Module.printErr('[post-exception status] ' + text);
        // };
      };
    </script>
    {{{ SCRIPT }}}
  </body>
</html>